.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* toggle theme */
#light {
  background-color: #f3ebf6;
}

#dark {
  background-color: #205d6169;
}

#light .main {
  background-color: #fff;
}

#dark .main {
  background-color: #38004c;
}

.switch {
  display: flex;
  justify-content: center;
  background-color: white;
}

#light .switch label {
  background-color: #fff;
}

#dark .switch label {
  background-color: #38004c;
}

/* toggle theme end*/

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}